*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.a-header{
    width: 100%;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
}
.a-header .logo{
    width: 20%;
    background:#fff;
    padding: 1.5rem 1rem;
    border-bottom: 3px solid #EBEBFF;
}
.a-header .logo h1{
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
}
.a-header .user{
    width: 80%;
    background:#F8F8F8;
    padding: 1.5rem 2rem;
    border-bottom: 3px solid #EBEBFF;
    display: flex;
    justify-content: end;
}
.a-header .user p, .a-header .user .linktoWeb{
    font-size: 22px;
    color:#A6A6A6;
    margin: 0 20px;
}
.a-header .user span{
    width: 4px;
    height: 30px;
    background:#D6D6D6;
    margin: 0 10px;
}
.a-header .user i{
    font-size: 22px;
    color: #A6A6A6;
    margin: 5px 5px 0 10px;
}
.a-header .linkName {
    text-decoration: none;
    color: #009398;
}
.a-header .linktoWeb{
    text-decoration: none;
}